/* Used by elements with a class of hidden. No need to change. */
.hidden {
   display: none;
}

/* Insert key-value pairs in the properties below, according to README.md */

#main {
	margin: 10% 20%;
	padding: 2em;
	border-width: 1px;
	border-style: solid;
	border-color: #9E9697;
}

h3 {
	text-align: center;
	font-size: 200%;
	border-bottom-style: 2px dotted #9E9697;


}

#main li {

}

#main li:hover {

}

li .remove {

}

ul {

}

.edit {

}

input[type="button"] {

}

input[type="button"]:hover {

}
